@{
    ViewBag.Title = $"Add new song";
    Layout = "_layout";
}

<h3>Add new song</h3>
<form method="post">
    <p>Name: <input type="text" name="name" value="">
    <p>Duration: <input type="number" name="duration" value="">
    <p>Album Id: <input type="number" name="albumId" value="">
    <p><input type="submit" value="Add">
</form>